<h3>Are you sure you want to delete:</h3>
<article>
  <%=@contact.id%> | <%=@contact.full_name%> | <%=@contact.email%> | <%=@contact.note %>
</article>
<form action='/delete/<%= @contact.id %>' method='post'>
  <input type='hidden' name='_method' value='delete'>
  <br>
  <input type='submit' value='Delete'>
</form>
