  <p>There are <span><%= @list.count  %></span> Contacts</p>

  <% @list.each do |contact| %>
    <article>
      <a href="/contact/<%=contact.id %>"><%=contact.id%> | <%=contact.full_name%> | <%=contact.email%> | <%=contact.note %></a>
      <br>
      <a href="/edit_contact/<%=contact.id %>">Edit</a> | <a href="/delete/<%=contact.id %>">Delete</a>
    </article>
  <% end %>
