<article>
<%=@contact.id%> | <%=@contact.full_name%> | <%=@contact.email%> | <%=@contact.note %>
<br>
<a href="/edit_contact/<%=@contact.id %>">Edit</a> | <a href="/delete/<%=@contact.id %>">Delete</a>
</article>
